<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h1>Приглашение</h1></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Уважаемые коллеги и руководители  предприятий!</p>
            <p class="text-center">Саратовский государственный технический университет имени Гагарина Ю.А.</p>
            <p class="text-center">приглашает Вас принять участие</p>
            <p class="text-center">в работе  ежегодной международной научно-практической  конференции</p>
            <p class="text-center">«ИНЖИНИРИНГ ТЕХНО 2016».</p>
            <p>Участие в конференции очно-заочное.</p>
            <p>Организатор- кафедра  ТММ «Техническая механика и детали машин»</p>
            <p>Конференция будет посвящена анализу современного состояния и перспективных направлений в исследовании и практическом использовании научных результатов в области проектирования и разработки технических систем и перспектив их внедрения  в производство с целью укрепления сотрудничества ученых и специалистов-производственников, работающих над созданием новых материалов, технологий, технических систем и их автоматизации. Обсудить  и рассмотреть вопросы по подготовке современного инженера.</p>
            <p>Нам важно Ваше участие, Ваше мнение и Ваши предложения!</p>
            <p><b>Публикации для студентов, аспирантов, магистрантов бесплатно! (до 5 страниц).</b></p>
            <p class="text-right">С уважением, орг. комитет.</p>
            <a class="btn btn-link pull-right" href="/files/2016/information_2016.docx" target="_self" role="button" download="information_2016">Скачать приглашение</a>
        </div>
    </div>
</div>