<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h1>{{'MAIN_PAGE.HEADER' | translate}}</h1></div>
    </div>
    <div class="col-md-12">
        <p class="text-justify">{{'MAIN_PAGE.TEXT.PART_1' | translate}}</p>
        <p class="text-justify">{{'MAIN_PAGE.TEXT.PART_2' | translate}}</p>
        <p class="text-justify">{{'MAIN_PAGE.TEXT.PART_3' | translate}}</p>
        <p>{{'MAIN_PAGE.LANGUAGES_DESCRIPTION' | translate}}</p>
        <dl>
            <dt>{{'MAIN_PAGE.ORGANIZER' | translate}}</dt>
            <dd>{{'MAIN_PAGE.DEPARTMENT' | translate}}
                <a href="http://www.sstu.ru/obrazovanie/fakultety-i-instituty/inetm/struktura/kafedry/tmm/">
                    {{'MAIN_PAGE.DEPARTMENT_NAME' | translate}}</a> /
                <a href="http://www.sstu.ru/obrazovanie/fakultety-i-instituty/inetm/">
                    {{'MAIN_PAGE.INSTITUTE' | translate}}</a>
            </dd>
            <dt>{{'MAIN_PAGE.PARTICIPANT_COUNT' | translate}}</dt>
            <dd>200</dd>
            <dt>{{'MAIN_PAGE.INFORMATION_MAIL' | translate}}</dt>
            <dd><a class="btn btn-link" href="/files/information_2015.doc" role="button">{{'MAIN_PAGE.INFORMATION_MAIL_LINK' | translate}}</a></dd>
            <dt>{{'MAIN_PAGE.CONFERENCE_PROGRAM' | translate}}</dt>
            <dd><a class="btn btn-link" href="/files/schedule_2015.rtf" role="button">{{'MAIN_PAGE.CONFERENCE_PROGRAM_LINK' | translate}}</a></dd>
        </dl>
    </div>
    <div class="col-md-12">
        {{'MAIN_PAGE.INFORMATION' | translate}} <p class="text-warning">{{'MAIN_PAGE.INFORMATION_DATE' | translate}}</p>
    </div>
    <div class="col-md-12">
        <img src="/img/invite-2015.png" class="img-responsive" alt="Responsive image">
    </div>
</div>