<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h1>Международная научная конференция «Инжиниринг техно 2015»</h1></div>
    </div>
    <div class="col-md-12">
        <p class="text-justify">Конференция будет посвящена анализу современного состояния и перспективных направлений в исследовании и практическом использовании научных результатов в области проектирования и разработки технических систем и перспектив их внедрения в производство с целью укрепления сотрудничества ученых разных стран и специалистов-производственников, работающих над созданием новых материалов, технологий, технических систем и их автоматизации. Использование научно-технических достижений в подготовке и повышении квалификации инженерных кадров. Соучредителями конференции являются ведущие предприятия: ООО «Неофлекс»;ОАО «СЭПО»,ОАО «Саратовский агрегатный завод»;ОАО «НПП «Алмаз»;ЗАО «НПП Магратеп» г. Фрязино, НПП «Нитрид» ОАО «НИТИ-Тесар», ПАО «Завод автономных источников тока» и др.</p>
        <p class="text-justify">Институт электронной техники и машиностроения (ИнЭТМ) СГТУ имени Гагарина Ю.А. 410054, г. Саратов, ул. Политехническая, 77, корпус 2.</p>
        <p class="text-justify">К участию в конференции допускаются законченные научно-исследовательские работы, соответствующие тематике конференции и имеющие актуальное теоретическое и практическое значение для развития технической отрасли науки.</p>
        <p>Официальные языки конференции: русский, английский</p>
        <dl>
            <dt>Организатор:</dt>
            <dd>кафедра <a href="http://www.sstu.ru/obrazovanie/fakultety-i-instituty/inetm/struktura/kafedry/tmm/">
                "Техническая механика и детали машин"</a> /
                <a href="http://www.sstu.ru/obrazovanie/fakultety-i-instituty/inetm/">
                "Институт электронной техники и машиностроения"</a>
            </dd>
            <dt>Количество участников:</dt>
            <dd>200</dd>
            <dt>Информационное письмо:</dt>
            <dd><a class="btn btn-link" href="/files/information_2015.doc" role="button">Скачать письмо</a></dd>
            <dt>Программа конференции:</dt>
            <dd><a class="btn btn-link" href="/files/schedule_2015.rtf" role="button">Скачать программу</a></dd>
        </dl>
    </div>
    <div class="col-md-12">
        Прием статей для публикации продлен до <p class="text-warning">22 октября 2015 г.</p>
    </div>
    <div class="col-md-12">
        <img src="/img/invite-2015.png" class="img-responsive" alt="Responsive image">
    </div>
</div>