<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h1>Состав организационного комитета</h1></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <dl>
                <dt><h2>Председатель организационного комитета</h2></dt>
                <dd><h4>Резчиков Александр Федорович</h4> д.т.н., профессор, директор Института проблем точной механики и управления РАН, уполномоченный Президиума РАН по Саратовскому научному центру, первый заместитель председателя Президиума Саратовского научного центра РАН,  член-корреспондент РАН, заслуженный деятель науки Российской Федерации</dd>

                <dt><h2>Сопредседатели организационного комитета</h2></dt>
                <dd><h4>Плеве И. Р</h4> д.и.н., профессор, ректор СГТУ имени Гагарина Ю.А.</dd>
                <dd><h4>Муренин К.П.</h4>к.э.н., руководитель Фонда содействия  развитию МП НТС в Саратовской области (по согласованию), заместитель председателя Совета экономического развития при Губернаторе Саратовской области.</dd>

                <dt><h2>Заместители председателя организационного комитета</h2></dt>
                <dd><h4>Сытник А. А.</h4>д.т.н., профессор, первый проректор СГТУ. Лауреат премии Президента Российской Федерации. Заслуженный деятель науки Российской Федерации. Заведующий кафедрой «Информационные системы и технологии» </dd>
                <dd><h4>Бровкова М.Б.</h4>д.т.н., профессор  , директор ИнЭТМ СГТУ имени Гагарина Ю.А.</dd>

                <dt><h2>Члены Оргкомитета</h2></dt>
                <dd><h4>Кабашев Р.А.</h4>д.т.н., профессор, ректор Казахской автомобильно-дорожной академии;</dd>
                <dd><h4>Челпанов И.Б.</h4>д.т.н., профессор кафедры "Автоматы" Санкт-Петербургского государственного технического университета, заслуженный деятель науки РФ;</dd>
                <dd><h4>Михайлов А.Н.</h4>д.т.н., профессор, председатель Международного союза машиностроителей, заведующий кафедрой "Технология машиностроения", Дон НТУ;</dd>
                <dd><h4>Савкин А. Н.</h4>профессор, доктор технических наук, декан факультета подготовки инженерных кадров Волгоградского государственного технического университета;</dd>
                <dd><h4>Бухач Анжей</h4> доктор технических наук, профессор, Силезский технический университет г. Гливица (Польша),</dd>
                <dd><h4>Тока Алексей Владимирович</h4>профессор, доктор технических наук, зав. кафедрой «Технология машиностроения» Технического университета Молдовы, (г. Кишинев, Молдова),</dd>
                <dd><h4>Октавиан Прутяну</h4>профессор, доктор технических наук, зав. кафедрой «Технология машиностроения» Технический университет (г. Яссы, Румыния);</dd>
                Перельцвайг И. М.  к.т.н.,  ведущий конструктор АО "МВЗ им.  .Л.Миля",
                <dd><h4>Кочетков А.В.</h4>д. т. н. , профессор кафедры «Транспортное строительство» Саратовского государственного технического университета имени Гагарина Ю.А., </dd>
                <dd><h4>Кадыров Ж.Н.</h4>д.т.н., профессор Казахского университета путей сообщения, академик Метрологической академии РФ;</dd>
                <dd><h4>Лясников В.Н.</h4>д.т.н, профессор, профессор кафедры «Физическое материаловедение и биомедицинская инженерия». Заслуженный деятель науки РФ. Член ассоциации материаловедов России;</dd>
                <dd><h4>Игнатьев А.А.</h4>д.т.н., профессор, профессор кафедры АУМ СГТУ имени Гагарина Ю.А.;</dd>
                <dd><h4>Папшев С.В.</h4>к.ф-м.н., доцент кафедры «Информационные системы и технологии». Начальник управления исследований в области образования и науки СГТУ имени Гагарина Ю.А.;</dd>
                <dd><h4>Калихман Д.М. – д.т.н., профессор, начальник научно-технического отдела ФГУП НПЦАП им. академика Н. А. Пилюгина</h4>ПО «Корпус»;</dd>
                <dd><h4>Остроумов И.Г.</h4>д.х.н., профессор, директор ЭТИ СГТУ имени </dd>
                Гагарина Ю.А.;
                <dd><h4>Вулах М.Г.</h4>к.ю.н., доцент, и. о. директора БИТТиУ;</dd>
                <dd><h4>Данилов И.К.</h4>д.т.н., профессор, декан АМФ СГТУ имени Гагарина Ю.А.;</dd>
                <dd><h4>Антропов П.Г.</h4>к.т.н., доцент, декан ЭФ СГТУ имени Гагарина Ю.А.</dd>
                <dd><h4>Гороховский А.В.</h4>д.х.н., профессор, декан ФТФ СГТУ имени </dd>
                Гагарина Ю.А.;
                <dd><h4>Пыльский В.А.</h4>к.т.н., доцент кафедры РТ, зам. директора ИнЭТМ СГТУ имени Гагарина Ю.А. </dd>
                <dd><h4>Гумаров Г.С.</h4>д.т.н., профессор, директор института ПКДО Казахский агротехнический университет имени С. Сейфуллина г. Астана;</dd>
                <dd><h4>Хабибулин М.М.</h4>гл. технолог ФГУП «Базальт»  РОСАТОМ г. Саратов</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>Ответственный секретарь</dt>
                <dd><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Боровских У.В.</h4></dd>
                <dd><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:#">tmm@sstu.ru</a></dd>
                <dd><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 99-86-35</dd>
            </dl>
        </div>
    </div>
</div>