<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h1>Программа конференции</h1></div>
    </div>

    <div class="col-md-12">
        <h3>22 октября, четверг</h3>
        <dl class="dl-horizontal">
            <dd>Заезд участников конференции</dd>
            <dt>10:00 – 11:00</dt>
            <dd>Регистрация участников конференции</dd>
            <dt>11:00 – 13:00</dt>
            <dd><strong>Пленарное Заседание</strong> Официальное Открытие, Пленарные Доклады</dd>
            <dt>13:00 – 14:00</dt>
            <dd>Технический перерыв</dd>
            <dt>14:00 – 17:00</dt>
            <dd>Секционные доклады</dd>
            <dt>С 18:00</dt>
            <dd>Прогулка по Саратову</dd>
        </dl>

        <h3>23 октября, пятница</h3>
        <dl class="dl-horizontal">
            <dt>10:00 – 13:00</dt>
            <dd>Секционные доклады</dd>
            <dt>13:00 – 14:00</dt>
            <dd>Технический перерыв</dd>
            <dt>14:00 – 17:00</dt>
            <dd>Секционные доклады</dd>
            <dt>С 18:00</dt>
            <dd>Прогулка по Волге</dd>
        </dl>

        <h3>24 октября, суббота</h3>
        <dl class="dl-horizontal">
            <dt>10:00 – 14:00</dt>
            <dd>Секционные доклады</dd>
            <dt>С 15:00</dt>
            <dd>Официальное закрытие конференции. Принятие решения конференции.</dd>
        </dl>
        <h3>25 октября, воскресенье</h3>
        <dl class="dl-horizontal">
            <dd>Отбытие участников конференции </dd>
        </dl>
    </div>

    <div class="col-md-12">
        <div class="page-header"><h1>Сценарий пленарного заседания<small> III Международной научно-практической  конференции</small></h1></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>22 октября, ауд. 2/212 (конференц-зал), 11-00 – 13-00</h4>
            <dl>
                <dt>Приветственное слово</dt>
                <dd><h4>Сытника Александра Александровича</h4>первого проректора СГТУ имени Гагарина Ю.А., доктора технических наук, профессора.</dd>
            </dl>
            <dl>
                <dt>Информационное сообщение</dt>
                <dd><h4>Бровковой Марины Борисовны</h4>директора ИнЭТМ СГТУ имени Гагарина Ю.А., д.т.н., профессора; «Образование на стыке вуза, науки, производства»</dd>
            </dl>

            <dl>
                <dt>Пленарные доклады</dt>
                <div ng-repeat="report in reports">
                    <dd><h4>{{report.author}}</h4></dd>
                    <dd>{{report.desc}}</dd>
                    <dd><i>{{report.title}}</i></dd>
                </div>
            </dl>

        </div>
    </div>


    <div class="col-md-12">
        <div class="page-header"><h1>Секционные заседания</h1></div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div ng-repeat="section in sections">
                <h3>{{section.title}}</h3>
                <u>{{section.date}}, {{section.where}}</u>
                <h4>Руководитель секции: {{section.person}}</h4>
                <p><i>{{section.personDescription}}</i></p>
                <p class="text-justify">{{section.desc}}</p>
            </div>
        </div>
    </div>
</div>