<div class="row">

    <div class="col-md-12">
        <div class="page-header"><h1>2015</h1></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Выходные данные</h3>
            <a class="btn btn-link" href="/files/2015_engineering_info_vol_1.pdf" target="_self" role="button" download="2015_engineering_info_vol_1.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2015 Первый том</a>
            <a class="btn btn-link" href="/files/2015_engineering_info_vol_2.pdf" target="_self" role="button" download="2015_engineering_info_vol_2.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2015 Второй том</a>

            <h3>Содержание</h3>
            <a class="btn btn-link" href="/files/2015_engineering_contents_vol_1.pdf" target="_self" role="button" download="2015_engineering_contents_vol_1.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2015 Первый том</a>
            <a class="btn btn-link" href="/files/2015_engineering_contents_vol_2.pdf" target="_self" role="button" download="2015_engineering_contents_vol_2.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2015 Второй том</a>

            <h3>Сертификаты</h3>
            <label>Поиск сертификата: <input ng-model="search.name"></label>
            <ul ng-repeat="cert in certificates_2015 | filter:search">
                <li><a class="btn btn-link" href="{{cert.path}}" target="_self" role="button" download="{{cert.name}}.pdf">
                    {{cert.name}}</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <div class="page-header"><h1>2014</h1></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Выходные данные</h3>
            <a class="btn btn-link" href="/files/2014_engineering_contents_vol_1.pdf" target="_self" role="button" download="2014_engineering_contents_vol_1.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2014 Первый том</a>
            <a class="btn btn-link" href="/files/2014_engineering_contents_vol_2.pdf" target="_self" role="button" download="2014_engineering_contents_vol_2.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2014 Второй том</a>

            <h3>Сборник</h3>
            <a class="btn btn-link" href="/files/2014_engineering_vol_1.pdf" target="_self" role="button" download="2014_engineering_vol_1.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2014 Первый том</a>
            <a class="btn btn-link" href="/files/2014_engineering_vol_2.pdf" target="_self" role="button" download="2014_engineering_vol_2.pdf">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 2014 Второй том</a>
        </div>
    </div>
</div>